*{
	margin:0;
	padding:0;	
}

@media screen and (max-width:650px){
	main{
		margin:30px 0 10px;
	}
	
	nav ul{
		border-bottom:1px solid #ccc;	
	}
}


@media screen and (min-width:650px){
	main{
		margin:100px 0;
	}
}

main{
	/* border:1px solid red; */
	height:auto;
}

#container .heading{
	width:80%;
	margin:0 auto;
	margin-bottom:30px;
	background:url(../images/bookings-heading.png) no-repeat left;
	background-size:auto 100%;
}

#wrapper{
	height:auto;
	width:80%;
	min-width:400px;
	
	overflow:hidden;
	margin:0 auto;
}

main .movie{
	height:auto;
	width:100%;
	max-width:350px;
	float:left;
	margin:0 0 5px 5px;
	overflow:hidden;
	
	background:url(../images/m2-blur.jpg) no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	

}

main .movie p{
	height:50px;
	width:100%;	
	color:#FFF;
	text-align:center;
	padding:6px 0 5px 0;
	margin:0 auto;
	font-family:museo700;
	font-size:17px;	
}


main .movie p span{
	font-size:15px;
	font-family:museo500;	
}

div.movie { cursor:pointer; }
div.movie div { display:none; }

.movie div p{
	border:none;
	font-family:museo300;	
	font-size:17px;
	color:#FFF;
	text-align:left;
	height:auto;
	width:88%;
	padding: 0 20px;
	margin:0 auto;
	line-height:22px;
	
}

.movie div p span{
	color:#FC0;
	font-size:18px;
	font-family:museo700;
}

.book{
	border:1px solid red;
	margin:0 auto;
}

.book a{
	background:rgba(255,255,255,0.9);
	border-radius:4px;
	color:#222;
	text-decoration:none;
	text-align:center;
	padding:12px 126px;
	font-family:avenir65;
	font-size:18px;
}

.book a:hover{
	background:#FC0;
	color:#FFF;
	
	-webkit-transition:all 0.3s ease-in 0s;
	-moz-transition:all 0.3s ease-in 0s;
	-o-transition:all 0.3s ease-in 0s;
	transition:all 0.3s ease-in 0s;
}


.book a:active{
	background:#222;
}

iframe{
	min-height:195px;
	width:100%;	
	margin:5px 0 18px 0;
}